body {
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    width: 100%;
}

header {
    background-color: #140451ff;
    color: white;
    padding: 1px;
    width:auto;
    height:1cm;
    position: sticky;
}

.store p {
    text-align: left;
    color: white;
    margin-left: 50px;
    margin-top: -28px;
}

.store a {
    text-align: left;
    color: white;
    margin-left: 50px;
    margin-top: -28px;
    text-decoration: none;
}

.space {
    padding-left: 30px;
}

.info {
    text-align: right;
}

.search {
    width: max-content;
    height: 0.5em;
    display: flex;
    align-items: center;
    padding: 14px;
    border-radius: 14px;
    background-color: #f6f6f6;
}

.search-input {
    font-size: 12px;
    color: #49454f;
    margin-left: 0;
    background: transparent;
    border: none;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    position: sticky;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    width: auto;
    height: 2cm;
    font-size: 18px;
    .logo {
        float: left;
        margin: 0.2em 2.5em;
    }
}

nav ul {
    display: flex;
    gap: 1rem;
    list-style: none;
    padding: 10px 0;
    margin: 0.2em 2.5em;
   
}

nav li {
    margin: 0px;
}

nav a {
    text-decoration: none;
    color: #757575;
    cursor: pointer;
}

.nav a:hover {
    background-color: #2c2c2c;
}
.container {
position: relative;
}

h1 {
    font-size: 30px;
    display: flex;
    justify-content: center;
    font-weight: bold;
    color: #1e1e1e;
}

  
.signin-form {
    margin-left: 34.25%;
    background: #ffffff;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 400px;
    height: fit-content;
}
  
.form-group {
    text-align: left;
   
}
  
label {
    font-size: 15px;
    color: #1e1e1e;
    display: block;
}
  
input {
    width: 100%;
    padding: 6px;
    font-size: 16px;
    border: 1px solid #dcdcdc;
    border-radius: 10px;
    box-sizing: border-box;
}
  
input:focus {
    outline: none;
    border-color: #6a5acd;
}
.btn-submit {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    color: #ffffff;
    background-color: #1e1e56; 
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
.btn-submit:hover {
    background-color: #161646; 
}
  
  
.register-link {
    margin-top: 13px;
    font-size: 14px;
    color: #555555;
    font-style: italic;
}
  
.register-link a {
    color: #1e1e56;
    text-decoration: underline;
    font-size: 18px;
    padding-left: 5px;
}
  
.register-link a:hover {
    text-decoration: underline;
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    padding: 20px;
    background-color: white;
    color: black;
    width: 97%;
}
footer a{
    align-items: start;
    color:#140451ff;
    margin-left: 20px;
}
footer p {
    text-align: right;
    color: #2c2c2c;
}

.auth-buttons {
    text-align: right;
    padding-right: 20px;
    padding-top: 5px;
}